* {
    margin: 0;
}

body{
    background: -webkit-linear-gradient(140deg, #f974ab,#fbb291,#f2aebd,#fc9e84);                      
    background: linear-gradient(140deg, #f974ab,#fbb291,#f2aebd,#fc9e84); 
    min-height: 100vh;                                        
}

.div1{
    height: 40px;
    color: white;
    text-align: end;
    padding-right: 100px;
    background-color: #fed19a;
    padding-top: 10px;
    font-family:monospace;
    font-size: 15px;
}

.div2{
    height: 100px;
    text-align: center;
    font-size: 40px;
    color: white;
    padding-top: 30px;
    font-family:monospace;
    padding-bottom: 50px;
}

.bloque1{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 50px; 
    padding: 20px; 
    margin: 0 auto; 
    width: 80%; 
}

.bloque1 img {
    border-radius: 15px;
    width: 100%;
    height: 400px; 
    object-fit: cover; 
    border: 2px solid white;
}

.proyecto{
    border-radius: 4px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
} 

.proyecto-1{
    text-align: center; 
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family:monospace; 
    margin: auto; 
    top: 0;
    bottom: 0;
}

.proyecto:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9); 
    background-color: #ffb6c1; 
}

.boton1, .boton2, .boton3, .boton4, .boton5, .boton6{
    background-color: white;
    color: black;
    border: 1px solid black; 
    padding: 10px 15px;
    font-size: 30px;
    border-radius: 5px;
    margin: 10px auto; 
    display: block; 
    cursor: pointer; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.boton1:hover, .boton2:hover, .boton3:hover, .boton4:hover, .boton5:hover, .boton6:hover {
    transform: scale(1.1); 
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8); 
    background-color: #ffb6c1; 
    color: white; 
    border: 1px solid white;
}

@media (max-width: 900px) {
    .bloque1 {
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        width: 90%; 
    }

    .bloque1 img {
        width: 100%; 
        height: auto; 
    }

    .proyecto-1{
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 18px;
    }

    .div1 {
        text-align: center; 
        padding-right: 0;
    }

    .div2 {
        font-size: 30px; 
        padding-bottom: 0;
    }

    .boton1, .boton2, .boton3, .boton4, .boton5 {
        width: 80%; 
        font-size: 15px;
    }
}
